@model IEnumerable<WebBooks.Model.Authors>

@{
    ViewBag.Title = "Index";
}

<h2>Lista de Libros</h2>

<a href="javascript:void(0);" class="btn btn-primary" id="btn-add">Adicionar</a>
<br /><br />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.au_lname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.au_phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.au_city)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.au_state)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.au_zip)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.au_sex)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.au_salary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.au_subject)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.au_lname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.au_phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.au_city)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.au_state)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.au_zip)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.au_sex)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.au_salary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.au_subject)
        </td>
        <td>
            <a href="javascript:void('@item.au_id');" class="btn btn-primary" id="btn-edit">Editar</a>
            <a href="javascript:void(0);" class="btn btn-primary" id="btn-remove">Eliminar</a>

            @Html.ActionLink("Edit", "Edit", new { id=item.au_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.au_id })
        </td>
    </tr>
}

</table>

<div class="modal fade" id="modal-create" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body-main"></div>
        </div>
    </div>
</div>


@section scripts{
    <script>
        $('#btn-add').click(function (e) {
            e.preventDefault();
            $('#modal-create .modal-body-main').load('@Url.Action("Adicionar", "Authors")');
            $('#modal-create').modal('show');
        });

        $('.btn-edit').click(function (e) {
            e.preventDefault();
            var _id = $(this).attr('role-id');
            $('#modal-create .modal-body-main').load('@Url.Action("Editar", "Authors")?id=' + _id);
            $('#modal-create').modal('show');
        });

        $('.btn-remove').click(function (e) {
            e.preventDefault();
            var _id = $(this).attr('role-id');
            $('#modal-create .modal-body-main').load('@Url.Action("Eliminar", "Authors")?id=' + _id);
            $('#modal-create').modal('show');
        });
    </script>
}